@primary-color: #242424;
@min-width: 1200px;
@content-width: 980px;
@bar-color: #c10d0c;
@buffer-bar-color: #535353;
@lyric-color: #31c27c;
.bg-set(@bg, @x: 100%, @y: 100%) {
  background-image: @bg;
  background-position: 0 0;
  background-size: @x @y;
  background-repeat: no-repeat;
}